body{
    background-color: black;
    color: #fff;
    
}
.clr{
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#mainHeader{
    background-color: green;
    padding-right: 20px;
    /* min-height: 50px; */

}


#navbar{
    background-color: gray;
    padding-bottom: 0px;
   text-align: end;
   
}

#navbar ul{
    list-style: none;
    padding: 0;
}

#navbar li{
    display: inline;
    font-size: 24px;
    padding-right: 20px;
    margin-top: 0;
    
}


#showcase{
    margin-top: 20px;
    margin-bottom: 20px;
   
}

.welcome{
    background-color: gray;
    min-height: 200px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
}
.form-group{

}


#footer{
    background-color: green;
    min-height: 100px;
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;
}

a{
    color: #fff;
    text-decoration: none;
}


#mainSection h1{
    /* text-align: center; */
}

.form-group{
    padding-bottom: 15px;
}

.form input, textarea, select{
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}
 .form-group label{
    display: block;
}


.form{
    max-width: 400px;
    padding-left: 30%;
    
}

.button{
    background-color: green;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    border-radius: 15px;
}
.button:hover{
    background-color: black;
}

#mainSection .save{
    margin-left: 80%;
    margin-top: 10px;
}

td{
    padding: 10px;
    margin: 0;
}

.type-red{
    background-color: red;
}

.type-green{
    background-color: green;
}

table{
    width: 100%;
}
table > tr > td > a:hover{
    background-color: black;
}

.filter{
    width:auto;
}

.filter label{
    background-color: green;
    font-size: 20px;
    font-weight: bold;
}

.profile{
   
   
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
    color: black; 
    width: 200px;
  
}

.profile-pic{
    float: left;
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
}

.profile-data{
    float: left;
    width:66%;
    background-color: #fff;
    min-height: 200px;
    padding: 10px;
    margin-top: 30px;
    box-sizing: border-box;
    color: black;
    border-radius: 20px;
}

.inc-type{
    float: left;
    box-sizing: border-box;
}

.total-count{
 float: right;
 box-sizing: border-box;
}

.clr{
    clear: both;
}

.b-color{
    background-color: #fff;
    color: black;
}

.box{
    width: 400px;
    height: 300px;
    border: 2px solid green;
    margin-bottom: 10px;
}

.box > p{
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
}